@import url('https://fonts.googleapis.com/css?family=Paytone+One|Roboto&display=swap');

.App{
  width: 100vw;
  height: 100vh;

}

/* Default */

.main-view{
  width: 100%;
  height: calc(100% - 80px);
  position: relative;

}

.title{
  font-size: 36px;
  font-family: 'Paytone One', Arial, Helvetica, sans-serif;
}
p{
  font-size: 18px;
}

button{
  padding: 8px 15px;
  text-decoration: none;
  border: 0;
  background: #4285F4;
  color: #fff;
  border-radius: 6px;
}

.flex{
  display: flex;
}

.flex-center{
  justify-content: center;
  align-items: center;
}



/* Nav */
.navbar{
  background-color: #4285F4;
}
.navbar-brand{
  display: flex;
  justify-content: center;
  align-items: center;
}

.team-name{
  font-family: 'Paytone One', Arial, Helvetica, sans-serif;
  font-size: 36px;
  display: inline-block;
  padding-left:15px;
  color: #fff;
  line-height: 1.5;
  margin: 0;
}

.logo{
  height: 50px;
}


/* Views */
.start-view{
  background-image: url('https://wallpaperplay.com/walls/full/a/f/5/76731.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
}

